<main class="flex-shrink-0">
  <div class="container">

    <div class='card'>
      <div class='card-header'>
        <h5>Lista dei risultati</h5>
      </div>
      <div class='card-body'>

        <div class='table-responsive'>
          <table class='table table-hover '>
            <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Cognome</th>
            </tr>
            <tr *ngFor="let personItem of listaUtenti">
              <td>{{personItem.id}}</td>
              <td>{{personItem.nome}}</td>
              <td>{{personItem.cognome}}</td>
            </tr>

            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <!-- end card-body -->
      </div>
      <!-- end card -->
    </div>

    <!-- end container -->
  </div>
</main>